.STYLE1 {
    color: #15428b;
    font-size: 12px;
}

.line {
    margin-top: 5px;
    width: 98%;
    height: 10px;
    FONT-SIZE: 1px;
    BORDER-BOTTOM: #0372c8 1px dotted;
    CLEAR: both;
    LINE-HEIGHT: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

/*输入框*/
input {
    padding: 0px 2px;
    margin: 0 2px;
    border: 1px solid #b5b8c8;
    font-size: 15px;
}

input.input_text {
    width: 145px;
    background: url('/images/input_bg.png') repeat-x left top scroll;
    border: 1px solid #b5b8c8;
}

input.input_search {
    width: 150px;
    background: url(/images/input_bg.png) repeat-x left top scroll;
    border: 1px solid #B5B8C8;
}

/*simple_table*/
.simpleTable {
    width: 100%;
    cellspacing: 0;
    cellpadding: 0;
    border: solid 1px #bccbdd
}

.simpleTable .white {
    background: white;
}

.simpleTable .blue {
    background: #e6f0f9;
}

.simpleTable th {
    background: url('/images/tbg.gif');
    line-height: 26px;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    color: #15428b;
    cursor: hand;
}

.simpleTable .tab_firstline {
    background: url('/images/tbg.gif');
    line-height: 26px;
    border-left: solid 0px #bccbdd;
    border-top: solid 0px #bccbdd;
    border-bottom: solid 0px #bccbdd;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    color: #15428b;
    cursor: hand;
}

.simpleTable .td1 {
    border-left: solid 0px #bccbdd;
    text-align: center;
    font-size: 12px;
    color: #15428b;
}

/*分页图标变手型*/
span {
    display: block;
    float: left;
    width: auto;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

/*   分页  */
.page {
    width: auto;
    height: 20px;
    margin: 4px 10px;
    _display: inline;
}

.page span {
    padding-left: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.page .page_first {
    background: url('/images/page_triangle.gif') 0px 0px scroll;
}

.page .page_first_no {
    background: url('/images/page_triangle.gif') 0px -20px scroll;
}

.page .page_prev {
    background: url('/images/page_triangle.gif') 0px -40px scroll;
}

.page .page_prev_no {
    background: url('/images/page_triangle.gif') 0px -60px scroll;
}

.page .page_next {
    background: url('/images/page_triangle.gif') 0px -80px scroll;
}

.page .page_next_no {
    background: url('/images/page_triangle.gif') 0px -100px scroll;
}

.page .page_last {
    background: url('/images/page_triangle.gif') 0px -120px scroll;
}

.page .page_last_no {
    background: url('/images/page_triangle.gif') 0px -140px scroll;
}

.page .page_go {
    background-image: url('/images/page_go.gif');
    background-position: 0px 0px;
    padding-left: 32px;
}

.page .page_go:hover {
    background-position: 0px -20px;
}

.page .page_text {
    padding: 0px;
    line-height: 18px;
}

input.input_page {
    width: 45px;
    font-size: 15px;
    text-align: center;
    background: url('/images/input_bg.png') repeat-x left top scroll;
    border: 1px solid #B5B8C8;
}

/*加载时图片*/
.icon_loader {
    background: url('/images/ajax-loader.gif') no-repeat left center scroll;
    padding-left: 22px;
}

/*  --- table样式 --------------------  */
/*   resultTable：提交表单用TABLE样式  */
.resultTable {
    border-collapse: collapse;
    border: 1px #eee solid;
    border-color: #FFFFFF;
    width: 100%;
    font-size: 15px;
    margin: 5px 0px 0px 5px;
    _display: inline;
    float: left;
}

.resultTable th, .resultTable td {
    line-height: 20px;
    height: 20px;
    padding: 6px;
}

.resultTable th {
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    line-height: 20px;
    white-space: nowrap;
    border-color: #FFFFFF;
    width: 120px;
}

.resultTable td em {
    color: #D0D0D0;
    font-style: normal;
    padding: 0px 2px;
    font-size: 15px;
}

.resultTable .title {
    background: #FFFFFF url('/images/th_bg2.png') no-repeat left center scroll;
    text-align: left;
    font-weight: 700;
    padding-left: 10px;
    margin: 0px;
}

.resultTable .title span {
    margin-top: 3px;
    font-size: 15px;
}

.resultTable td a {
    color: #0068D8;
    text-decoration: underline
}

.resultTable td a:hover {
    color: #E46600;
    text-decoration: underline
}

/*输入框*/
input {
    padding: 0px 2px;
    margin: 0 2px;
    font-size: 14px;
    vertical-align: middle;
    height: 20px;
}

input.input_text {
    width: 145px;
    height: 18px;
    background: url('/images/input_bg.png') repeat-x left top scroll;
    border: 1px solid #B5B8C8;
}

/* 按钮 */
.button_blue {
    background: url('/images/button_blue.gif') no-repeat scroll;
    background-position: 0px 0px;
    width: 77px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    color: #00296C;
    text-align: center;
    padding: 0px;
    margin-right: 10px;
    border: 0px;
    cursor: pointer;
}

.button_blue:hover {
    background-position: 0px -24px;
}

/*当前位置的bar*/
.title_bar {
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding: 0px 0px;
    border: 0;
    background: url('/images/main_43.gif')
}

/*文字为一行时：设置其为垂直居中*/
.title_bar span {
    height: 28px;
    line-height: 28px;
}

/*设置图片垂直居中*/
.title_bar img {
    vertical-align: middle;
}

/*link_to:样式设置*/
a {
    text-decoration: none;
    color: black;
}

.sideMenu {
    width: 200px;
    height: 485px;
    overflow-y: scroll;
}

.menuTree {
    font-size: 12px;
    font-weight: normal;

}

.menuTree ul {
    margin-left: -30px;
}

.menuTree li {
    list-style-image: none;
    list-style-type: none;
    background-color: #FFF;
    margin-left: 6px;
    margin-right: 6px;
}

.menuTree li a {
    color: #000;
    text-decoration: none;
    margin: 0px;
    padding-top: 8px;
    display: block; /* 作为一个块 */
    padding-bottom: 8px;
}

.menu_parent li a:hover {
    background: #146C9C;
    color: #fff;
}

.menu_parent span {
    background-image: url(/images/menu_main.png);
    width: 19px;
    height: 19px;
    margin-top: 3px;
}

.menu_children span {
    background-image: url(/images/icon_greed.gif);
    width: 19px;
    height: 19px;
    margin-top: 3px;
    margin-left: -12px;
}

.projectContent {
    width: 1100px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.projectGroup {
    width: 250px;
    height: 400px;
    float: left;
}

div.pro_item {
    width: 250px;
    height: 40px;
    margin-top: 5px;
}

.projectName {
    font-family: 'consolas';
    margin-left: 20px;
    width: 800px;
    height: 400px;
    float: left;
    margin-top: 5px;
}

div.projectContent li.content {
    border: solid 1px #F1F1F1;
    width: 243px;
    height: 40px;
    background-color: #FFFFFF;
    float: left;
    list-style: none;
    font-family: 'consolas';
}

div.projectContent li.fore {
    width: 5px;
    height: 42px;
    background-color: #2FA0BB;
    float: left;
    list-style: none;
}

.grayColor {
    background-color: #F1F1F1;
}
.projectInfo{
    width:800px;
    height:80px;
    margin-left: 10px;
}
.projectInfo .p_name{
    width:100%;
    height:30px;
    color:#2FA0BB;
    font-size: 12;
    font-weight:bold;
}
.projectInfo .p_desc{
    width:100%;
    height:20px;
    font-size: 80%;
    margin-top: 10px;
}
.projectInfo .p_date{
    width:100%;
    height:20px;
    font-size: 80%;
    margin-top: 10px;
}
span.pro_title{
    font-family: 'consolas';
    margin-left: 10px;
    margin-top: 5px;
    font-size:120%;
    font-weight: bold;

}
.project_and_creator{
    color:#2FA0BB;
}