body{
    background: white;
    margin:0;
    padding:0;
}
#container{
    width:100%;
    margin:0 auto;/*设置整个容器在浏览器中水平居中*/
    background:#b0c6cf;
}
#header{
    height:20%;
}

#content{
    height:75%;
    width:100%;
}
#left{
    height:100%;
    width:15%;
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
}
#right{
    height:100%;
    width:85%;
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
}
#footer{
    height:4%;
    width:100%;
}
#iframeStyle {width:100%;height:100%;border:0px;}
html{font-size:9pt; color:#15428b;}
a:active,a:focus{outline:none;}
img{border:0px;}
.menu{height:65px;}
.menu ul{list-style:none;margin:0px;padding:0px;}
.menu ul li{list-style:none; display: inline; float:left; margin-right:3px; height:65px;}
.menu ul li a {display:block; float:left;  height:65px; background:url(main_21.gif) no-repeat left top; padding-left:3px; text-decoration:none;color:#15428b; }
.menu ul li a span{height:65px; background:url(main_23.gif) repeat-x left top; float:left; padding-left:5px; padding-right:5px;padding-top:6px;}
.menu ul li a em{width:3px; height:65px; background:url(main_24.gif) no-repeat top; float:left;}

.menu ul li a:hover {display:block; float:left;  height:65px; background:url(main_16.gif) no-repeat left top; padding-left:3px; }
.menu ul li a:hover span{height:65px; background:url(main_18.gif) repeat-x left top; float:left; padding-left:5px; padding-right:5px; padding-top:6px;}
.menu ul li a:hover em{width:3px; height:65px; background:url(main_19.gif) no-repeat top; float:left;}



.tab_inf{line-height:35px; padding-left:15px; padding-right:15px;}
input{width:30px; height:20px; font-size:9pt; border:solid 1px #99b6db; text-align:center;}


