<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <title>HR-人事管理系统 center</title>
  <style type="text/css">
      <!--
      body {
          margin-left: 2px;
          margin-top: 1px;
          margin-right: 2px;
          margin-bottom: 2px;
          background-color: #bfdbff;
          overflow:hidden;
      }
      -->
  </style>
  <script>
      function switchSysBar(){
          var locate=location.href.replace('center.html','');
          var ssrc=document.all("img1").src.replace(locate,'');
          if (ssrc=="images/main_60.gif")
          {
              document.all("img1").src="images/main_60_1.gif";
              document.all("frmTitle").style.display="none"
          }
          else
          {
              document.all("img1").src="images/main_60.gif";
              document.all("frmTitle").style.display=""
          }
      }
  </script>

</head>

<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="203" valign="top" id=frmTitle noWrap name="fmTitle"><iframe name="I1" height="100%" width="100%" src="left.html" border="0" frameborder="0" scrolling="no">
      浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
    <td width="4"  style=" cursor:hand" onclick=switchSysBar()><SPAN class=navPoint
                                                                     id=switchPoint title=关闭/打开左栏><img src="images/main_60.gif" width="4" height="54"  name="img1" id="img1"/></SPAN></td>
    <td valign="top"><iframe name="I1" height="100%" width="100%" src="right.html" border="0" frameborder="0" scrolling="no"> 浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
  </tr>
</table>
</body>
</html>
