<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
  <title>HR-人事管理系统</title>
  <link href="/style/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="container">
  <div id="header">
    <%= render :file => 'layouts/top' %>
  </div>
  <div id="content">
    <div id="left"><%= render :file => 'layouts/left' %></div>
    <div id="right">
      <div id="loader" style="display:none;"><span class="icon_loader">加载中...</span></div>
      <iframe id="iframeStyle" name="iframeStyle" frameborder="0" scrolling="auto" src="<%= url_for :controller => :user, :action => :index %>"></iframe>
    </div>
  </div>
  <div id="footer">
        <div><%= render :file => 'layouts/down' %></div>
  </div>
</div>
</body>
</html>